#menu {
  height: 100%;
  width: 100%;
}

#menu p {
  margin: 0;
}

#logo { 
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

#logo-background {
  display: none;
}

#logo-background-mobile {
  position: fixed;
  display: inline;
  width: 100%;
  height: 30%;  
  left: 0;
  top: 0;
  z-index: -1;
}

#logo-text {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%); 
  color: white;
}

#logo-text h1 {
  font-size: 2.5em;
}

#logo-text h3 {
  font-size: 1.75em;
}

#menu-text {  
  margin-top: 34%;
  margin-bottom: 25%;  
  padding: 0 10px;  
  font-size: 2em;    
  text-align: center;
  color: #5a4827;
}

/* iPhone 5 landscape fix */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:landscape) {
  .d-sm-none {
      display: none!important;
  }
  
  .col-sm-3 {
      flex: 0 0 auto;
      width: 25%;
  }

  .col-sm-12 {
      flex: 0 0 auto;
      width: 100%;
  }

  .row-cols-sm-4>* {
    flex: 0 0 auto;
    width: 25%;
}
}


@media all and (min-width: 576px), all and (orientation: landscape) {
  #menu {
    max-width: 370px;
    position: relative;
  }

  #logo {
    width: 110%; 
    position: absolute; 
    left: -5%; 
    top: 0; 
    transform: unset;
  }

  #logo-background-mobile {
    display: none;
  }

  #logo-background {
    position: relative;
    display: inline;
    height: 100%; 
    width: 100%;
    left: 0;  
    top: 0;
    transform: unset;
    z-index: -1;
  }

  #logo-text {
    width: 100%; 
    height: logo; 
    position: absolute; 
    top: 0; 
    left: 0; 
    font-size: 0.625em; 
    text-align: center; 
    padding-top: 12%;     
    transform: unset;
  }  

  #menu-text {
    width: 100%; 
    position: absolute; 
    margin-top: 0;
    margin-bottom: 0;
    bottom: 10%; 
    left: 50%; 
    transform: translate(-50%, 0); 
    text-align: center; 
    font-size: 1em;         
  }

  #menu-text p:first-of-type {
    padding: 0 20%;
  }
}