.wrapper {
  padding-top: 50px;
  background-image: url("http://s-tlk.org/news/tlg_background1.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
